#include "windows.h"
#include "edlmes.h"

#ifndef DEPVERS_edlin_STR4
#	define DEPVERS_edlin_STR4 "0.0.0.0"
#endif

#ifndef DEPVERS_edlin_INT4
#	define DEPVERS_edlin_INT4 0,0,0,0
#endif

1 VERSIONINFO
 FILEVERSION DEPVERS_edlin_INT4
 PRODUCTVERSION DEPVERS_edlin_INT4
 FILEFLAGSMASK 0x3fL
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "See https://github.com/rhubarb-geek-nz/edlin\0"
            VALUE "CompanyName", "rhubarb-geek-nz\0"
            VALUE "FileDescription", "edlin command line editor\0"
            VALUE "FileVersion", DEPVERS_edlin_STR4
            VALUE "InternalName", "edlin\0"
            VALUE "LegalCopyright", "© Roger Brown. 2024\0"
            VALUE "OriginalFilename", "EDLIN.EXE\0"
            VALUE "ProductName", "edlin\0"
            VALUE "ProductVersion", DEPVERS_edlin_STR4
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END

STRINGTABLE
BEGIN
    EDLMES_EOF, "End of input file\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, "Abort edit (Y/N)? "
    EDLMES_BADCOM, "Entry error\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "File name must be specified\r\n"
    EDLMES_NOSUCH, "Not found.\r\n"
    EDLMES_ASK, "O.K.? "
    EDLMES_MRGERR, "Not enough room to merge the entire file\r\n"
    EDLMES_MEMFUL, "Insufficient memory\r\n"
    EDLMES_TOOLNG, "Line too long\r\n"
    EDLMES_NEWFIL, "New file\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Yy"
END
