#include "windows.h"
#include "edlmes.h"

#ifndef DEPVERS_edlin_STR4
#	define DEPVERS_edlin_STR4 "0.0.0.0"
#endif

#ifndef DEPVERS_edlin_INT4
#	define DEPVERS_edlin_INT4 0,0,0,0
#endif

1 ICON edlin.ico

1 VERSIONINFO
 FILEVERSION DEPVERS_edlin_INT4
 PRODUCTVERSION DEPVERS_edlin_INT4
 FILEFLAGSMASK 0x3fL
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "See https://github.com/rhubarb-geek-nz/edlin\0"
            VALUE "CompanyName", "rhubarb-geek-nz\0"
            VALUE "FileDescription", "edlin command line editor\0"
            VALUE "FileVersion", DEPVERS_edlin_STR4
            VALUE "InternalName", "edlin\0"
            VALUE "LegalCopyright", L"\x00A9 Roger Brown. 2024\0"
            VALUE "OriginalFilename", "EDLIN.EXE\0"
            VALUE "ProductName", "edlin\0"
            VALUE "ProductVersion", DEPVERS_edlin_STR4
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
    EDLMES_EOF, "End of input file\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, "Abort edit (Y/N)? "
    EDLMES_BADCOM, "Entry error\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "File name must be specified\r\n"
    EDLMES_NOSUCH, "Not found.\r\n"
    EDLMES_ASK, "O.K.? "
    EDLMES_MRGERR, "Not enough room to merge the entire file\r\n"
    EDLMES_MEMFUL, "Insufficient memory\r\n"
    EDLMES_TOOLNG, "Line too long\r\n"
    EDLMES_NEWFIL, "New file\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Yy"
    EDLMES_NOBAK, "Cannot edit .BAK file--rename file\r\n"
    EDLMES_DEST, "Must specify destination line number\r\n"
END

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
    EDLMES_EOF, "Ende der Eingabedatei\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, "Abbrechen? (J/N)? "
    EDLMES_BADCOM, "Eingabefehler\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "Dateiname fehlt\r\n"
    EDLMES_NOSUCH, "Nicht gefunden\r\n"
    EDLMES_ASK, "Okay? "
    EDLMES_MRGERR, L"Nicht gen\x00FCgend Speicher f\x00FCr die gesamte Datei\r\n"
    EDLMES_MEMFUL, "Kein Speicher mehr frei\r\n"
    EDLMES_TOOLNG, "Zeile ist zu lang\r\n"
    EDLMES_NEWFIL, "Neue Datei\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Jj"
    EDLMES_NOBAK, "Die .BAK-Datei kann nicht bearbeitet werden. Datei umbenennen\r\n"
    EDLMES_DEST, "Zielzeilennummer muss angegeben werden\r\n"
END

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
    EDLMES_EOF, L"Fin du fichier d'entr\x00E9e\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, "Annuler? (O/N)? "
    EDLMES_BADCOM, L"Erreur d'entr\x00E9e\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "Aucun nom de fichier\r\n"
    EDLMES_NOSUCH, "Non trouv\r\n"
    EDLMES_ASK, "O.K? "
    EDLMES_MRGERR, L"Pas assez de m\x00E9moire pour le fichier complet\r\n"
    EDLMES_MEMFUL, L"Pas assez de m\x00E9moire disponible\r\n"
    EDLMES_TOOLNG, L"Erreur de longueur de cha\x00EEne\r\n"
    EDLMES_NEWFIL, "Nouveau fichier\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Oo"
    EDLMES_NOBAK, "Impossible de modifier le fichier .BAK--renommer le fichier\r\n"
    EDLMES_DEST, L"Doit pr\x00E9ciser le num\x00E9ro de ligne de destination\r\n"
END

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
    EDLMES_EOF, L"Fin de la entrada\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, L"\x00BFAbortar? (S/N)? "
    EDLMES_BADCOM, L"Error de entrada\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "Falta el nombre del archivo\r\n"
    EDLMES_NOSUCH, "No hay texto coincidente\r\n"
    EDLMES_ASK, L"\x00BFDe acuerdo? "
    EDLMES_MRGERR, L"No hay suficiente espacio para todo el archivo\r\n"
    EDLMES_MEMFUL, L"No hay espacio disponible\r\n"
    EDLMES_TOOLNG, L"La l\x00EDnea es demasiado larga\r\n"
    EDLMES_NEWFIL, "Nuevo archivo\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Ss"
    EDLMES_NOBAK, "No se puede editar el archivo .BAK: cambie el nombre del archivo\r\n"
    EDLMES_DEST, L"Debe especificar el n\x00FAmero de l\x00BFnea de destino\r\n"
END

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
    EDLMES_EOF, L"Fine dell'input\r\n"
    EDLMES_PROMPT, "*"
    EDLMES_QMES, L"Interrompere? (S/N)? "
    EDLMES_BADCOM, L"Errore di immissione\r\n"
    EDLMES_ESCAPE, "\\\r\n"
    EDLMES_CTRLC, "^C\r\n\r\n"
    EDLMES_NDNAME, "Nome file mancante\r\n"
    EDLMES_NOSUCH, "Non trovato\r\n"
    EDLMES_ASK, L"OK? "
    EDLMES_MRGERR, L"Spazio insufficiente per l'intero file\r\n"
    EDLMES_MEMFUL, L"Nessuno spazio disponibile\r\n"
    EDLMES_TOOLNG, L"Riga troppo lunga\r\n"
    EDLMES_NEWFIL, "Nuovo file\r\n"
    EDLMES_NN, "Nn"
    EDLMES_YY, "Ss"
    EDLMES_NOBAK, "Impossibile modificare il file .BAK: rinominare il file\r\n"
    EDLMES_DEST, L"\x00C8 necessario specificare il numero della riga di destinazione\r\n"
END
